{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div>
      <div>
        <div>
          <div>
            <div>
                <form action="/change_pwd" method="POST">
                  <input type="hidden" name="email" id="email" value="{{ inputs.0 }}">
                  <div >
                    <h4><p><b><center>{{ inputs.0 }}</center></b></p></h4>
                  </div>
                  <div >
                    <label for="reg_pwd" class="form-label">New Password</label>
                    <input type="password"  id="new_pwd" name="new_pwd" placeholder="Password" value="">
                  </div>
                  <div >
                    <label for="reg_pwd" class="form-label">Confirm Password</label>
                    <input type="password"  id="new_pwd_confirm" name="new_pwd_confirm" placeholder="Confirm Password" value="">
                  </div>
                  <button type="submit" class="modal-button">
                  <i class="fas fa-check"></i>
                  Submit
                </button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock %}